<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SignUp</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            <h2>SignUp</h2>
            <form action="http://127.0.0.1:8888/thankyou" method="post">
              <div>
                <br><br><br>
                <label><b>Username  :</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" placeholder="Enter Username" name="uname" required>
                <br><br>
                <label><b>Password  :</b></label><nbsp>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="password" placeholder="Enter Password" name="psw" required>
                <br><br>
                <label><b>Name  :</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;&ensp;
                <input type="text" placeholder="Enter Name" name="fname" required>
                <br><br>
                <label><b>ID        :</b></label>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                <input type="text" placeholder="Enter ID" name="id" required>
                <br><br>
                <label><b>Number    :</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" placeholder="Enter Phone Number" name="numb" required>
                <br><br>
                <label><b>Address   :</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" placeholder="Enter Address" name="add" required>
                <br><br><br>
                <button class="btn btn-lg upload-btn" type='submit'>Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
